.rt-single-nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    padding: 15px 20px;

    &__name {
        font-size: 14px;
        text-transform: uppercase;
    }

    &__title {
        margin: 1px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    &:hover {
        color: $link;
    }

    &__next {
        text-align: right;

        i {
            margin-left: 8px;
        }
    }

    &__prev {
        i {
            margin-right: 8px;
        }
    }

    &__item {
        color: $color-second;
        width: 50%;
        align-items: center;

        @include media(sm) {
           width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}