.rt-single {
    .rt-breadcrumbs{
        margin-bottom: 10px;
        ul{
            justify-content: center;
        }
    }
    &__title {
        margin-top: 0;
        margin-bottom: 10px;
    }

    &__badges {
        @extend .rt-badges;
    }

    &__meta {
        margin-bottom: 10px;
        margin-left: -7px;
        margin-right: -7px;

        &-item, a{
            color: $color-third;
            font-size: rem(14px);
            padding-left: 7px;
            padding-right: 7px;
            position: relative;

            i {
                margin-right: 5px;
            }

            &:hover{
                color: var(--theme-link);
            }
            &:before {
                content: "";
                position: absolute;
                right: -4px;
                top: 2px;
                bottom: 2px;
                width: 2px;
                background: $border-color;
            }

            &:last-child {
                &:before {
                    display: none;
                }
            }
        }
        .category{
            a{
                margin-left: -7px;
                margin-right: -7px;
            }
             &:last-child {
                span {
                    display: none;
                }
            }
        }
    }

    &__content {
        border-bottom: 3px solid $border-color;
    }

}