.page-footer {
    &__widget {
        padding-top: 30px;
        padding-bottom: 30px;
        color: $color-light-primary;
        background-color: $dark-primary;
    }
    &__bottom {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: $color-light-second;
        background-color: $dark-second;
        border-top: 1px solid transparent;
        a,
        .rt-menu--bar-simple li a {
            color: $color-light-second;
            &:hover {
                color: $color-light-primary;
            }
        }
        .page-container {
            @include media-min(sm) {
                display: flex;
                flex-grow: row wrap;
                justify-content: space-between;
            }
            @include media(sm) {
                >span,
                >div,
                >ul {
                    margin-bottom: 10px;
                    display: block;
                }
            }
        }
        .rt-menu {
            margin: 0;
        }
    }
}