.template--sidebar-none,
.template--builder-container {
    .page-wrapper .page-content {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.template--sidebar-left {
    .page-wrapper .page-container {
        @include media-min(md) {
            flex-direction: row-reverse;
        }
    }
    &.template--half-background {
        &:before {
            left: 0;
            right: auto;
        }
    }
}