.rt-menu-responsive {
    &__toggle {
        display: none;
    }
    &__dropdown {
        display: none;
    }
}

.rt-menu-responsiv.is-mobile {
    .rt-menu-responsive {
        &__main{
            display: none;
        }
        &__toggle {
            display: block;
        }
        &__dropdown {
            display: block;
        }
    }
}