.widget_archive,
.widget_categories,
.widget_meta,
.widget_nav_menu,
.widget_pages,
.widget_rss,
.widget_list,
.widget_product_categories,
.woocommerce-widget-layered-nav {

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        ul {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
            padding-left: 15px;
            // border-left: 1px solid $border-color;

            li {
                border-bottom: none;
                padding-top: 7px !important;
                padding-bottom: 7px !important;
            }
        }
    }

    li {
        list-style: none;
        position: relative;
        border-bottom: 1px solid $border-color;
        display: block;
        line-height: 1;
        padding-top: 10px !important;
        padding-bottom: 10px !important;

        &:first-child {
            padding-top: 0 !important;
        }

        &:last-child {
            padding-bottom: 0 !important;
            border-bottom-color: transparent;
        }
    }

    &.rt-widget--footer {
        li {
            padding-top: 5px;
            padding-bottom: 5px;
            border-color: rgba(255, 255, 255, 0.14);
            border-bottom: none !important;
        }
    }
}

/*=================================================;
/* DROPDOWN
/*================================================= */
.product-categories,
.widget_categories ul,
.widget_nav_menu ul {
    li {
        @extend .clearfix;
    }

    ul {
        display: none;
    }

    .rt-list__arrow {
        float: right;
        cursor: pointer;
        width: 20px;
        text-align: center;
        font-size: 16px;
        line-height: 18px;
        height: 20px;

        &.is-active {
            transform: rotate(180deg);
        }
    }
}