/*=================================================;
/* ROW
/*================================================= */
.rt-elementor-offset-row{
    margin-left: -15px;
    margin-right: -15px;
}
/*=================================================;
/* MENU
/*================================================= */
.rt-elementor-menu-static {
    .elementor-nav-menu--main {
        display: block !important;
    }

    .elementor-menu-toggle {
        display: none !important;
    }

    .elementor-nav-menu--dropdown {
        display: none !important;
    }
}

/*=================================================;
/* ICON BOX
/*================================================= */
@media (max-width: 600px) {    
    .elementor-icon-box--left .elementor-icon-box-icon {
        float: left; /*not necessary*/
    }

    .elementor-icon-box--left .elementor-icon-box-content {
        text-align: left;
        display: table;
        padding-left: 10px;
    }
}