/*=================================================;
/* PRIMARY
/*================================================= */
.woocommerce .button,
.woocommerce-widget-layered-nav-dropdown__submit {
  display: inline-block;
  padding: 8px 25px;
  line-height: 1.5;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: $border-radius;
  background-color: $button-primary-background;
  color: $button-primary-color;
  background-image: none;
  touch-action: manipulation;
  transition: 0.2s linear;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  i {
    margin-right: 6px;
  }
  &.disabled,
  &.is-disabled,
  &:disabled[disabled],
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus,
  &:hover {
    text-decoration: none;
    color: $button-primary-color;
    background-color: lighten($button-primary-background, 10%);
  }

  &:active {
    box-shadow: $box-shadow;
  }

  &.loading {
    opacity: 0.25;
    padding-right: 2.618em;

    &::after {
      font-family: "WooCommerce";
      content: "\e01c";
      vertical-align: top;
      font-weight: 400;
      position: absolute;
      top: 0.618em;
      right: 1em;
      animation: spin 2s linear infinite;
    }
  }

  &.added::after {
    font-family: "WooCommerce";
    content: "\e017";
    margin-left: 0.53em;
    vertical-align: bottom;
  }
}

/*=================================================;
/* SECOND 
/*================================================= */
.woocommerce-cart .coupon .button,
.woocommerce-mini-cart__buttons .button:first-child {
  background-color: $button-second-background;
  color: $button-second-color;

  &:focus,
  &:hover {
    color: $button-second-color;
    background-color: lighten($button-second-background, 10%);
    border-color: lighten($button-second-background, 10%);
  }
}

/*=================================================;
/* ACTION BUTTON
/*================================================= */

.woocommerce .checkout-button.button.alt,
.woocommerce #place_order.button {
  width: 100%;
}

/**
* single
* floating
* cart
* checkout
* mini cart action
*/
.woocommerce button.button.single_add_to_cart_button,
.woocommerce .wsb-sticky-product__action .button,
.woocommerce .checkout-button,
.woocommerce #place_order,
.woocommerce-mini-cart__buttons .checkout {
  background-color: $color-action;
  border-color: $color-action;

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($color-action, 10);
    border-color: lighten($color-action, 10);
  }
}

/*=================================================;
/* SHIPPING CALCULATE
/*================================================= */
.shipping-calculator-button .button {
  width: 100%;
}

.woocommerce-cart .checkout-button,
.woocommerce-checkout #place_order {
  font-size: 16px;
  padding: 12px 30px;
}
