/*=================================================;
/* DEFAULT - TOOLBAR
/*================================================= */
.wsb-toolbar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $color-base;
  flex-flow: row nowrap;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.12);
  z-index: 10;
  display: none;

  a {
    color: $color-second;
  }

  &__item {
    flex: 1;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
    position: relative;

    &:hover {
      background-color: $gray;
    }
  }

  &__icon {
    position: relative;
    display: block;
    font-size: rem(18px);
  }

  &__label {
    display: block;
    font-size: rem(11px);
    line-height: 1;
  }

  .rt-header__cart-count {
    position: absolute;
    top: -6px !important;
    right: auto !important;
    background-color: orange;
    color: #fff;
    border-radius: 100px;
    display: inline-block;
    height: 17px;
    width: 17px;
    line-height: 17px;
    text-align: center;
    font-size: 11px;
  }

  @include media(md) {
    display: flex;
  }
}

/*=================================================;
/* STICKY PRODUCT
/*================================================= */
.wsb-sticky-product {
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-base;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .5s;
    top: -100%;

    &.is-sticky {
        visibility: visible;
        top: 0;
    }

    .page-container {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            height: auto;
            margin-right: 15px;
        }
    }

    &__action {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        margin-right: 10px;
        font-size: rem(16px);
    }

    del {
        font-size: rem(14px);
        color: $color-third;
    }

    ins {
        text-decoration: none;
    }
    .wc-forward{
        display: none !important;
    }

    @include media(md) {
        top: auto;
        bottom: -100%;
        padding: 0;

        .page-container {
            padding: 0;
            margin: 0;
            max-width: 100%;
        }

        &__price {
            display: none;
        }

        &__item {
            display: none;
        }

        &__action {
            flex: 1;
            align-items: stretch;
        }

        .rt-btn, .button {
            border-radius: 0 !important;
            margin: 0 !important;
            flex: 1;
            padding-left: 5px;
            padding-right: 5px;
        }


        &.is-sticky {
            top: auto;
            bottom: 0;
        }
    }
}

/*=================================================;
/* SAUDAGAR V1 SUPPORT
/*================================================= */
@include media(md) {
  /*=================================================;
  /* LAYOUT - WRAPPER
  /*================================================= */
  .shop-booster-toolbar {
    .page-main {
      margin-bottom: 58px;
    }
  }

  /*=================================================;
/* LAYOUT - OPTIMATION
/*================================================= */
  /* remove unused layout*/
  .shop-booster {
    &.single-product .page-header,
    .page-aside,
    &.woocommerce-cart .page-footer {
      display: none !important;
    }
  }

  /*=================================================;
/* PRODUCT - REVIEW FORM
/*================================================= */
  .woocommerce-Reviews #review_form {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
  }
  /*=================================================;
/* ELEMENT - SALES NOTIF
/*================================================= */
  .single-product.sticky-product {
    .wsb-sales-notif {
      bottom: 50px;
    }
  }
  /*=================================================;
/* ELEMENT - WHATSAPP CHAT
/*================================================= */
  .shop-booster-toolbar {
    .wwc-chat__icon {
      bottom: 70px;
    }
  }
  .shop-booster.single-product.sticky-product {
    .wwc-chat__icon {
      bottom: 60px;
    }
  }
  .shop-booster.woocommerce-cart,
  .shop-booster.woocommerce-checkout {
    .wwc-chat__icon {
      bottom: 56px;
    }
  }

  /*=================================================;
/* ELEMENT - GO TOP
/*================================================= */
  .shop-booster-toolbar.whatsapp-chat {
    .rt-gotop {
      bottom: 135px;
    }
  }
  .shop-booster-toolbar:not(.whatsapp-chat) {
    .rt-gotop {
      bottom: 70px;
    }
  }
  .whatsapp-chat.single-product.sticky-product {
    .rt-gotop {
      bottom: 120px;
    }
  }

  .whatsapp-chat.woocommerce-cart,
  .whatsapp-chat.woocommerce-checkout {
    .rt-gotop {
      bottom: 120px;
    }
  }
  /*=================================================;
/* LAYOUT - PAGE HEADER
/*================================================= */
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;

    &__title {
      font-size: 18px;
    }
  }

  /*=================================================;
/* LAYOUT - FILTER PANEL
/*================================================= */
  .wbs-filter-panel {
    .rt-sidepanel {
      &__body {
        padding: 0;
      }
    }
    .rt-widget--aside {
      border: none;
      margin-bottom: 15px;
    }
  }
  /*=================================================;
/* PAGE - PRODUCT
/*================================================= */
  .single-product {
    &.shop-booster {
      .page-main {
        margin-bottom: 39px;
      }
    }
    .rt-accordion {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .woocommerce-Reviews #review_form {
    border: none;
    background: transparent;
    padding: 0;
  }

  /*=================================================;
/* PAGE - CART
/*================================================= */
  .woocommerce-cart {
    .page-wrapper {
      padding-bottom: 46px;
      padding-top: 0;
      margin-top: -1px;
    }
    .woocommerce-message{
      margin-top: 20px;
    }
    .shop_table {
      margin-bottom: -3px;
    }
    .flex-lg-8,
    .flex-lg-4{
      padding: 0
    }

    .cross-sells {
      padding-left: 15px;
      padding-right: 15px;
    }

    .cart-collaterals {
      margin: 0;
      padding-bottom: 60px;
    }

    .wc-proceed-to-checkout {
     
      .button {
         position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 999;
      margin: 0;
      padding: 0 !important;

        border-radius: 0 !important;
        margin: 0 !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
    }

    .rt-cart{
      margin-bottom: 15px;
      &-product{
        padding: 10px 15px;
      }
      &__footer{
        padding: 10px 15px;
      }
    }
    
  }

  /*=================================================;
/* PAGE -CHECKOUT
/*================================================= */
  .woocommerce-checkout {
    .page-wrapper {
      padding-bottom: 0;
    }
    .wc-checkout-order {
      padding: 0;
      border-radius: 0;
    }

    #order_review_heading {
      padding-left: 15px;
      padding-right: 15px;
    }

    .woocommerce-checkout-review-order {
      margin-bottom: 0 !important;
    }

    .wsb-product-trust-list {
      margin-top: 15px;
    }

    .ptf-footer {
      display: none;
    }

    #place_order {
      border-radius: 0 !important;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 999;
      margin: 0 !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }

  .shop-booster.woocommerce-checkout {
    .page-main {
      margin-bottom: 46px;
    }
  }
}

.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
    font-weight: $font-weight !important;
}

.wsb-sticky-product{
  &__title{
    display: block;
    font-size: 14px;
    margin-bottom: 0!important;
    span{
      text-transform: capitalize;
    }
  }
  .price,
  .price del,
  .price bdi{
    font-size: 12px!important;
    font-weight: 400;
  }
}