// compatible
/*=================================================;
/* WHATSAPP CHECKOUT
/*================================================= */
.single-product-summary{
  .rt-btn--whatsapp{
    margin-bottom: 10px;
  }
}
.whatsapp-checkout {
  .single-product-summary .button,
  .wsb-sticky-product__action .button,
  .wsb-sticky-product__action .rt-btn--action {
    margin-right: 10px;
    @include media(sm) {
      margin-right: 0;
    }
  }
}


/*=================================================;
/* TOPUP
/*================================================= */
.whatsapp-chat {
  .rt-gotop {
    bottom: 80px;
    right: 27px;
  }
}
@include media(sm) {
  .whatsapp-chat {
    .rt-gotop {
      right: 21px;
    }
  }
 
}